<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="QINIU_ACCESS_KEY" value="gPhMyVzzbQ_LOjboaVsy7dbCB4JHgyVPonmhT3Dp"/>
		<add key="QINIU_SECRET_KEY" value="OjY7IMysXu1erRRuWe7gkaiHcD6-JMJ4hXeRPZ1B"/>
		<add key="QINIU_TEST_BUCKET" value="icattlecoder3"/>
		<add key="QINIU_TEST_DOMAIN" value="qiniuphotos.qiniudn.com"/>
  	</appSettings>
</configuration>
