<?xml version="1.0" encoding="utf-8"?>
<configuration>
 	<appSettings> 
        <add key="USER_AGENT" value="" />
		<add key="ACCESS_KEY" value="" />
		<add key="SECRET_KEY" value="" />
		<add key="RS_HOST" value="" />
		<add key="UP_HOST" value="" />
		<add key="RSF_HOST" value="" />
	</appSettings> 
</configuration>
