<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="USER_AGENT" value=""/>
    <add key="ACCESS_KEY" value=""/>
    <add key="SECRET_KEY" value=""/>
    <add key="RS_HOST" value=""/>
    <add key="UP_HOST" value=""/>
    <add key="RSF_HOST" value=""/>
    <add key="PREFETCH_HOST" value=""/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
