<?xml version="1.0" encoding="utf-8"?>
<configuration>
 	<appSettings> 
        <addkey="USER_AGENT"value="" />
		<addkey="ACCESS_KEY"value="" />
		<addkey="SECRET_KEY"value="" />
		<addkey="RS_HOST"value="" />
		<addkey="UP_HOST"value="" />
		<addkey="RSF_HOST"value="" />
	</appSettings> 
</configuration>
